[submodule "packages/auto-key-store/lib/forge-std"]
	path = packages/auto-key-store/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/auto-key-store/lib/openzeppelin-contracts"]
	path = packages/auto-key-store/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
